body {
  background: rgb(58, 58, 58);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}


header {
  background-color: black;
  background-image: url("images/hero.jpg");
  background-size: 100%;
  background-position: center;
  padding: 20px 40p x 40px 20px;
  height: 400px;
  text-align: center;
}
header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 40px;
}
header .logo a {
  background-image: url(images/logo.png);
  background-size: 300px;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  height: 80px;
  width: 240px;
  top: -23px;
  text-indent: -99999999px;
}
header .mobile {
  display: none;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
nav li {
  display: inline-block;
  margin-right: 30px;
}

@media screen and (max-width: 684px) {
  header {
    height: 250px;
    background-position: 0 20px;
  }
  header .mobile {
    display: inline-block;
  }
  header .desktop {
    display: none;
  }
}

@media screen and (max-width: 408px) {

  header .mobile {
    display: inline-block;
    margin-right: 10px;
  }
}

.features {
  background: white;
  color: gray;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} 
.features figure {
  text-align: center;
  margin: auto;
  width: 200px;
  text-transform: uppercase;
}
.features figure img {
  border: 1px solid white;
  border-radius: 50%;
  box-shadow: gray 0 0 10px;
  width: 200px;
}

/* responsive rules
@media screen and (max-width: 800px) {
  .features {
    display: block;
  }
} */

footer {
  background:black;
  color: gray;
  font-size: 10px;
  padding: 20px 20px;
  text-align: center;  
}

